<nav
       id="sidebarMenu"
       class="collapse d-lg-block sidebar collapse bg-white"
       >
    <div class="position-sticky">
      <div class="list-group list-group-flush mx-3 mt-4">
        <a
           
           class="list-group-item list-group-item-action py-2 ripple fs-2 entetemenu"
           aria-current="true"
           >
          
          <div class=" mt-3" *ngIf="isAuth">
            
            <p>
              <img src="../../../assets/img/avatar_profil.png" class="sw_spd"/>&nbsp;
              <span class="elementor-heading-title elementor-size-default" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                {{isAuth}}
              </span>
              
            </p>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
               <a href="#" (click)="applicationService.logout()" style="text-decoration: none;">Se déconnecter</a>
              </div>
            </div>
            
          </div>
        </a>
        <a
           href="#"
           class="list-group-item list-group-item-action py-2 ripple"
           aria-current="true"
           >
          <i class="fa fa-tachometer" aria-hidden="true"></i
            >&nbsp;<span>Tableau de bord</span>
        </a>
        <a
            routerLink="/admin/add-file"
            routerLinkActive="active"
           class="list-group-item list-group-item-action py-2 ripple"
           >
          <i class="fa fa-table" aria-hidden="true"></i
            >&nbsp;<span>Administation</span>
        </a>
        <a
          routerLink="/admin/logs"
          routerLinkActive="active"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fa fa-id-badge" aria-hidden="true"></i>&nbsp;<span>Log</span></a
          >
        <a
          routerLink="/admin/stat"
          routerLinkActive="active"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fa fa-bar-chart" aria-hidden="true"></i
          >&nbsp;<span>Statistique</span></a
          >
        <a
        routerLink="/admin/import-file"
        routerLinkActive="active"
           class="list-group-item list-group-item-action py-2 ripple"
           >
          <i class="fa fa-download" aria-hidden="true"></i>&nbsp;<span>Ajout de Fichier</span>
        </a>
        <!-- <a
           href="#"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fas fa-chart-bar fa-fw me-3"></i><span>Liste des examens</span></a
          > -->
        <!-- <a
           routerLink="/admin/regionEducative"
           routerLinkActive="active"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fa fa-map-signs" aria-hidden="true"></i>&nbsp;<span>Liste des regions</span></a
          > -->
        <a
            routerLink="/admin/config"
            routerLinkActive="active"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fa fa-pencil-square-o" aria-hidden="true"></i
          >&nbsp;<span>Edition de date</span></a
          >
        <!-- <a
           href="#"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fas fa-building fa-fw me-3"></i
          ><span>Partners</span></a
          > -->
        <a
           href="#"
           routerLinkActive="active"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fa fa-calendar" aria-hidden="true"></i
          >&nbsp;<span>Calendrier</span></a
          >
        <a
           routerLink="/admin/gestion-user"
           routerLinkActive="active"
           class="list-group-item list-group-item-action py-2 ripple"
           ><i class="fa fa-users" aria-hidden="true"></i
          >&nbsp;<span>Gestion des utilisateurs</span></a
          >
      </div>
    </div>
  </nav>
  <!-- Sidebar -->

  