<div class="row">
    <div class="col-md-3 col-sm-2" style="margin-top:2%;">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9 col-sm-10" style="margin-top:2%;">
      <div class="container">
        <table class="table table-bordered table-dark mt-5">
            <thead>
            <tr>
                <th>Date</th>
                <th>Adr. IP</th>
                <th>Lieu</th>
                <th>Autres infos</th>
                <th>Page consultée</th>
                <th colspan="2">Actions</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                <td></td>
                <td></td>
                <td></td>                            
                <td></td>                            
                <td></td>                            
                <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Modifier</button></td>                            
                <td> <button class="btn btn-danger">Supprimer</button> </td>                            
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>
