
<div class="elementor-widget-wrap">
    <section
        class="elementor-section elementor-inner-section elementor-element elementor-element-b35a94d elementor-section-boxed elementor-section-height-default elementor-section-height-default"
        data-id="b35a94d" data-element_type="section"
        data-settings="{&quot;sticky_enable&quot;:&quot;yes&quot;,&quot;sticky_offset&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:100,&quot;sizes&quot;:[]},&quot;sticky_unstick_on&quot;:&quot;mobile&quot;,&quot;sticky_follow_scroll&quot;:&quot;yes&quot;,&quot;sticky_offset_bottom&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:0,&quot;sizes&quot;:[]}}">
        <div class="elementor-container elementor-column-gap-default">
            <div class="elementor-row">
                <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-9a6a8e6 data-dce-background-color"
                    data-id="9a6a8e6" data-element_type="column"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-column-wrap elementor-element-populated">
                        <div class="elementor-widget-wrap">
                            <div class="elementor-element elementor-element-a079061 elementor-widget elementor-widget-heading"
                                data-id="a079061" data-element_type="widget" data-widget_type="heading.default">
                                <div class="elementor-widget-container">
                                    <h2 class="elementor-heading-title elementor-size-default">Date disponible de publications ?
                                    </h2>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-e3ff7e3 elementor-widget-divider--separator-type-pattern elementor-widget-divider--no-spacing elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
                                data-id="e3ff7e3" data-element_type="widget" data-widget_type="divider.default">
                                <div class="elementor-widget-container">
                                    <div class="elementor-divider"
                                        style="--divider-pattern-url: url(&quot;data:image/svg+xml,%3Csvg xmlns=&#039;http://www.w3.org/2000/svg&#039; preserveAspectRatio=&#039;xMidYMid meet&#039; overflow=&#039;visible&#039; height=&#039;100%&#039; viewBox=&#039;0 0 120 26&#039; fill=&#039;black&#039; stroke=&#039;none&#039;%3E%3Cpolygon points=&#039;0,14.4 0,21 11.5,12.4 21.3,20 30.4,11.1 40.3,20 51,12.4 60.6,20 69.6,11.1 79.3,20 90.1,12.4 99.6,20 109.7,11.1 120,21 120,14.4 109.7,5 99.6,13 90.1,5 79.3,14.5 71,5.7 60.6,12.4 51,5 40.3,14.5 31.1,5 21.3,13 11.5,5 	&#039;/%3E%3C/svg%3E&quot;);">
                                        <span class="elementor-divider-separator">
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="elementor-element elementor-element-279633a elementor-widget elementor-widget-dyncontel-acf-relation"
                                data-id="279633a" data-element_type="widget"
                                data-widget_type="dyncontel-acf-relation.default">
                                <div class="elementor-widget-container">
                                    <div class="dce-acf-relationship-natural">
                                        <div data-elementor-type="single" data-elementor-id="344" data-post-id="86"
                                            data-obj-id="86"
                                            class="elementor elementor-344 dce-elementor-post-86 dce-elementor-post-86 elementor-location-single post-86 service_concerne type-service_concerne status-publish hentry entry"
                                            data-elementor-settings="[]">
                                            <div class="elementor-section-wrap">
                                                <section data-dce-background-color="#146C53"
                                                    class="elementor-section elementor-top-section elementor-element elementor-element-ad4cebc elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                    data-id="ad4cebc" data-element_type="section"
                                                    id="service-concerne-col"
                                                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                                    <div class="elementor-container elementor-column-gap-default">
                                                        <div class="elementor-row">
                                                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-43903a4"
                                                                data-id="43903a4" data-element_type="column">
                                                                <div
                                                                    class="elementor-column-wrap elementor-element-populated">
                                                                    <div class="elementor-widget-wrap">
                                                                        
                                                                        <div class="elementor-element elementor-element-c4bb607 elementor-widget elementor-widget-heading"
                                                                            data-id="c4bb607" data-element_type="widget"
                                                                            data-widget_type="heading.default" *ngFor="let config of table_config">
                                                                            <div class="elementor-widget-container">
                                                                                <h4
                                                                                    class="elementor-heading-title elementor-size-default">
                                                                                    <span>{{config.examen}} : </span>
                                                                                    {{config.date_publicationDebut | date:'EEEE, d,MMMM, y' }}
                                                                                </h4>
                                                                            </div>
                                                                        </div>
                                                                        
                                                                        <div class="elementor-element elementor-element-e01ade9 elementor-widget elementor-widget-text-editor"
                                                                            data-id="e01ade9" data-element_type="widget"
                                                                            data-widget_type="text-editor.default">
                                                                            <div class="elementor-widget-container">
                                                                                <div
                                                                                    class="elementor-text-editor elementor-clearfix">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

