<div class="row">
  <div class="col-md-3 col-sm-2" style="margin-top:2%;">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-9 col-sm-10" style="margin-top:2%;">
    <div class="container">

      <h1 class="mt-4">Consultation des resultats</h1>
     

      <nav class="bg-light">
        <form class="form-inline" method="POST" action="javascript:;">
          <div class="row form-group mb-2">
            <div class="col-lg-6">
              <label class="col-form-label-lg" for="annee">Année :</label>
              <input class="form-control border border-2" type="number" placeholder="Année" aria-label="Année" id="annee" required>
            </div>
            <div class="col-lg-6">
              <label class="col-form-label-lg" for="session">Session :</label>
              <select class="custom-select border border-2" id="inlineFormCustomSelect" placeholder="Session" name="Session">
                <option value="Normale">Normale</option>
                <option value="Malade">Malade</option>
              </select>
            </div>
          </div>
          <div class="form-group row mb-2">
            <div class="col-lg-6">
              <label class="col-form-label-lg" for="examen">Examen :</label>
              <select class="custom-select border border-2" id="inlineFormCustomSelect" name="examen" [(ngModel)]="examen" (change)="selectInput($event)" required>
                <option *ngFor="let examen of examens" [value]="examen.libelle_examen" >{{examen.libelle_examen}}</option>
              </select>
            </div>
            <div class="col-lg-6" *ngIf="examenSelected === 'CEPD'">
              <label class="col-form-label-lg" for="region">Région :</label>
              <select name="region" id="region" class="custom-select border border-2" id="inlineFormCustomSelect" [(ngModel)]="region" >Région
                <option [value]="region.libelle_region" *ngFor="let region of regions">{{region.libelle_region}}</option>
            </select>
            </div>
          </div>
          <div class="form-group row mb-2">
            <div class="col-lg-6">
              <label class="col-form-label-lg" for="num_table">N° de Table :</label>
              <input class="form-control border border-2" type="number" name="num_table" [(ngModel)]="num_table" placeholder="N° table" aria-label="N° table" id="num_table" required>
            </div>
            <div class="col-lg-6">
              <label class="col-form-label-lg" for="nom_prenom">Nom :</label>
              <input class="form-control border border-2" type="text" placeholder="Nom" id="nom_prenom">
            </div>
          </div>
            <input type="submit" type="reset" value="Rechercher 🔍" (click)="getResultAdmin()" class="error-btn button" name="rech">
        </form>
      </nav>

      <table class="table table-bordered table-dark mt-5">
        <thead>
          <tr>
            <!-- <th *ngFor="let item of lines[0]; let i = index">Année</th> -->
            <th>ANNEE</th>
            <th>EXAMEN</th>
            <th>REGION</th>
            <th>JURY</th>
            <th>N° TABLE</th>
            <th>NOM & PRENOM</th>
            <th>DECISION</th>
            <th>SESSION</th>
            <th>MENTION</th>
            <th>SEXE</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let resultat of table_resultatExamen">
            <td>{{resultat.annee}}</td>
            <td>{{resultat.examen}}</td>
            <td>{{resultat.region}}</td>
            <td>{{resultat.jury}}</td>
            <td>{{resultat.num_table}}</td>
            <td>{{resultat.nom_prenom}}</td>
            <td>{{resultat.decision}}</td>
            <td>{{resultat.session}}</td>
            <td>{{resultat.mention}}</td>
            <td>{{resultat.sexe}}</td>
                        
          </tr>
        </tbody>
      </table>
      <div *ngIf="table_resultatExamen?.length==0"class="alert alert-primary text-center" role="alert">
        Aucune information fournie !!!
      </div>
    </div>
  </div>
  
  
</div>


