<input type="hidden" #selection>

<h1 style="text-align: center;">Bienvenue sur la plateforme de publication des résultats des examens nationaux</h1>
<div *ngIf="isShown">
    <marquee behavior="" direction=""><h1 style="color: red;">la publication n'est pas encore disponible</h1> </marquee>
    <p class="col-form-label-lg">Pour vérifier votre résultats</p>
    <div class="card-group row card-container">
        <div class="col-md-3 col-sm-2">
            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header col-form-label-lg fs-2">CEPD</div>
                <div class="card-body">
                <h5 class="card-title col-form-label-lg">****</h5>
                <p class="card-text col-form-label-lg">1- Selectionnez votre examen le CEPD</p>
                <p class="card-text col-form-label-lg">2- Selectionnez votre REGION</p>
                <p class="card-text col-form-label-lg">3- Entrer votre numero de table</p>
                <p class="card-text col-form-label-lg">4- Cliquez sur RECHERCHER</p>
                <p class="card-text col-form-label-lg text-center"><span class="badge rounded-pill bg-success fs-3" routerLink="/resultatCEPD/stepCEPD">Disponible</span></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-2">
            <div class="card border-secondary mb-3" style="max-width: 18rem;">
                <div class="card-header col-form-label-lg fs-2">BEPC</div>
                <div class="card-body">
                <h5 class="card-title col-form-label-lg">*****</h5>
                <p class="card-text col-form-label-lg">1- Selectionnez votre examen le BEPC</p>
                <p class="card-text col-form-label-lg">2- Entrer votre numero de table</p>
                <p class="card-text col-form-label-lg">3- Cliquez sur RECHERCHER</p>
                <p class="card-text col-form-label-lg"></p>
                <p class="card-text col-form-label-lg"></p>
                <p class="card-text col-form-label-lg"></p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-2">
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header col-form-label-lg fs-2">BACI</div>
                <div class="card-body">
                <h5 class="card-title col-form-label-lg">******</h5>
                <p class="card-text col-form-label-lg">1- Selectionnez votre examen le BACI</p>
                <p class="card-text col-form-label-lg">2- Selectionnez votre type d'enseignement (Général/Technique)</p>
                <p class="card-text col-form-label-lg">3- Entrer votre numero de table</p>
                <p class="card-text col-form-label-lg">4- Cliquez sur RECHERCHER</p>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-2">
            <div class="card border-danger mb-3" style="max-width: 18rem;">
                <div class="card-header col-form-label-lg fs-2">BACII</div>
                <div class="card-body">
                <h5 class="card-title col-form-label-lg">*******</h5>
                <p class="card-text col-form-label-lg">1- Selectionnez votre examen le BACII</p>
                <p class="card-text col-form-label-lg">2- Entrer votre numero de table</p>
                <p class="card-text col-form-label-lg">3- Cliquez sur RECHERCHER</p>
                <p class="card-text col-form-label-lg"></p>
                <p class="card-text col-form-label-lg"></p>
                <p class="card-text col-form-label-lg"></p>
                </div>
            </div>
        </div>
    </div> 
</div>
