<div class="row">
    <div class="col-md-6 offset-md-3" style="margin-top:10%;margin-bottom: 10%;">
        
        <form #loginFormulaire="ngForm">
            <label for="email">Email</label>
            <input email required
                type="text"
                ngModel name="email"
                class="form-control" id="email">
            <label for="password">Mot de passe</label>
            <input required
                minlength="4"
                type="password"
                ngModel name="password"
                class="form-control" id="pwd">
            <button 
                [disabled]="loginFormulaire.invalid"
                (click)="login(loginFormulaire)"
                class="error-btn button" style="margin-top:2%;">
                Se connecter
            </button>
        </form>
        
    </div>
</div>
