<div class="row">
    <div class="col-md-3 col-sm-2" style="margin-top:2%;">
       <app-info></app-info>
    </div>
    <div class="col-md-9 col-sm-10" style="margin-top:2%;">

        <div class="">
            <p>
                <strong class="h1 text-primary text-uppercase">Vous voulez consulter votre résultat du BEPC SESSION 2021 ?</strong>
            </p>
            <div class="col-md-10 ms-3 col-form-label-lg fs-4 progessive-step">
                
                <p> C'est facile et rapide. Dès que les jury auront autorisés la publication des résultats, veuillez suivre les instructions suivantes : </p>
                <div class="row">
                   <div class="col-lg-6">
                     <div class="step step-active">
                        <div>
                           <div class="circle">1</div>
                        </div>
                        <div>
                           <div class="title fs-3">Première étape</div>
                           <div class="caption fs-4">Selectionnez votre examen le BEPC</div>
                        </div>
                     </div>
                     <div class="step step-active">
                        <div>
                           <div class="circle">2</div>
                        </div>
                        <div>
                           <div class="title fs-3">Deuxième Etape</div>
                           <div class="caption fs-4">Saisissez votre numero de table</div>
                        </div>
                     </div>
                     <div class="step step-active">
                        <div>
                           <div class="circle">3</div>
                        </div>
                        <div>
                           <div class="title fs-3">Etape finale</div>
                           <div class="caption fs-4">Cliquez sur RECHERCHER</div>
                        </div>
                     </div>
                     <p class="text-left text-lg-right mt-5" style="clear: both;">
                        <button class="error-btn button" routerLink="/resultatBEPC/afficheBEPC">Consulter mon résultat &nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    </p>
                   </div>
                   <div class="col-lg-6 mb-5">
                     <div class="float-right image-examen">
                        <img src="../../../assets/img/examen-eleve-bepc.jpeg" alt="Promo examen" width="100%" />
                    </div>
                   </div>
                </div>
            </div>
            
                
        </div>
    </div>
</div>